body {
    background-color: antiquewhite;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(245, 197, 75);
}

#container {}

p {
    color: rgba(60, 157, 223, 0.89);
}

img {
    width: fit-content;
}